 .card-trip-group {
 
   .card-trip {
     background: whitesmoke;
     margin: 0.625rem;
     padding: 0.1rem;
     .card-details{
      padding: 1.775rem;
      column-count: 2;
      p {
        font-size: .8rem;
        text-align: justify;
        span.value {
          margin-left: 1rem;
        }
        span.key {
          font-weight: bolder;
        }
      }
    }
  }
 }

 .pointer {
   cursor: pointer;
 }

.card-deck {
  margin: 0 -15px;
  justify-content: flex-start;
}

.card-deck .card {
  margin: 0 .2rem 1rem;
}

.embed-responsive .card-img-top {
  object-fit: cover;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck .card {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (min-width: 992px)
{
  .card-deck .card {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
}

@media (max-width: 992px)
{
  .card-details{
    column-count: 1 !important;
  }
}
