textarea{
    margin-bottom: 0.7rem;
    border-radius: 0.2rem;
    text-align: right;
    width: 12.5rem;
    height: 4rem;
    float: right;
}
::placeholder{
    text-align: center;
    font-size: 0.8125rem;
}
.text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  