textarea{
    margin-bottom: 0.7rem;
    border-radius: 0.2rem;
    text-align: right;
    width: 12.5rem;
    height: 4rem;
    float: right;
}
::placeholder{
    text-align: center;
    font-size: 0.8125rem;
}
