@import '../utilities/variables';

footer {
  background-color: $color-white;
  height: 3rem !important;
  font-size: calc(.2rem + 1vw);
  .socials {
    right: 2rem;
    position: absolute;
    
    i {
      margin-right: 0.25rem;
      font-size: calc(.5rem + 1vw);
      cursor: pointer;
    }
  }
}
