@use '../utilities/variables' as *;

body {
  background-color: $color-whitesmoke;
}

#container {
  background-color: $color-white;
  padding: 1.875rem;
  box-shadow: $color-box-shadow;
  border-radius: $border-radius-default;
  margin: 5rem 0;

  h3 {
    color: $color-black;
    font-size: 1.25rem;
    text-align: center;
  }

  p {
    color: $color-grey;
    font-size: .8em;
      text-align: center;
    }
  }
  input{
    text-align: left !important;
  }

::placeholder{
    text-align: left !important;
    font-size: 0.75rem;
}
