@import '../utilities/variables';

.btn-round-login{
  border-radius: 2.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.redirectDiv > div{
  display: flex;
  flex-direction: row;
}
.redirectDiv > div > span{
  flex-grow: 1; 
}
.redirectDiv > div > p{
  flex-grow: 0;
  width: 50%;
}
.redirectDiv > div > a{
  font-size: 0.8rem;
}
.redirectDiv > div > a:link {
  color: #5CB85C;
}
.redirectDiv > div > a:visited {
  color: $dark-green;
}
.redirectDiv > div > a:hover {
  color: $darker-green;
  text-decoration: none;
}
.redirectDiv > div > p{
  text-align: left !important;
}
.errorAlert{
  text-align: center;
}
