@use '../utilities/variables' as *;


.formInfo {
  text-align: center;
}

.redirectDiv > div {
  display: flex;
  flex-direction: row;

  > .linkSpacedDiv {
    flex-grow: 0;
    width: 40%;
  }

  > span {
    flex-grow: 1;
  }

  p {
    flex-grow: 0;
    width: 50%;
    text-align: left !important;
  }

  > a {
    color: $color-blue-text;
    font-size: 0.8rem;

    &:link,
    &:visited {
      color: $color-dark-green;
    }

    &:hover {
      color: darken($color-dark-green, 10%);;
      text-decoration: none;
    }
  }
}

.or {
  &LoginDiv {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;

    &::before, &::after {
      content: '';
      flex: 1;
      border-bottom: 0.0625rem solid $color-border-grey;
      margin-right: .25em;
    }
  }

  &Span {
    font-size: 1.875rem;
    color: $color-black-text;
    border: 0.0625rem solid $color-border-grey;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    padding-top: 0.3125rem;

    > p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.linkSpacedDiv {
  font-size: 1rem !important;

  > a:link {
    color: $color-success;
  }

  > a {
    &:visited {
      color: $color-success;
    }

    &:hover {
      color: darken($color-success, 10%);
      text-decoration: none;
    }
  }
}

.errorAlert {
  text-align: center;
}
