@use "../utilities/variables";
.request-table {
  tr {
    line-height: 70px;
  }
  thead {
    tr {
      text-align: center;
    }
  }
  tbody {
    tr {
      border-radius: 10px !important;
      background-color: variables.$color-white;
      border-bottom: 10px solid #f5f5f5 !important;
      &:hover {
        background-color: lighten(variables.$color-light-grey, 11);
        cursor: pointer;
      }
      td {
        text-align: center;
        padding: 0!important;
        div[data-content*="td-6-"] {
          margin: 10px auto;
          border-radius: 50%;
          background-color: rgb(255,123,1);
          text-align: center;
          color: white;
          line-height: 50px!important;
          height: 50px!important;
          width: 50px!important;
        }
        div[data-content="td-4-open"] {
          color: #FFB22E;
        }
        div[data-content="td-4-declined"] {
          color: #ac2342;
        }
        div[data-content="td-4-approved"] {
          color: #4b9448;
        }
      }
    }
  }

  td, th {
    border: none;
    margin: 30px 0 !important;
  }
}
