.avatar {
  height: 12rem;
  width: 12rem;
}

.role {
  font-size: 1.5rem;
}

.card.profile {
  box-shadow: 0 0.3125rem 0.4375rem -0.0625rem #c1c1c1;
}

.save-btn {
  width: 8.185625rem;
  height: 2.375rem;
}

.profile {
  input {
    text-align: left;
  }

  &-container {
    margin: 7rem 0;
  }
}
