.grid-form {
  margin: .5rem 0 .75rem !important;
	display: grid !important;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)) !important;
  grid-gap: .1rem !important;
  & > * {
    margin: 1rem 3rem;
    min-width: 60% !important;
  }
}